<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

    <form>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="lulo.username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="lulo.password">
        </div>

        <button (click)="onSignIn()">LOG IN</button>
        <br><br>
        <button (click)="goToSignUp()">CREATE AN ACCOUNT</button>
    </form>
    
</body>
</html>