<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- BOX ICONS CSS-->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
    <!-- custom css -->

    <!-- Side-Nav -->
    <div class="nav">
      <h2 id="logo">Agencia de Empleo</h2>
      <ul>
        <li>
          <i class="bx bx-user-check"></i>
          <span class="mx-2">Profile</span>
        </li>
        <li>
          <div class="search">
            <input type="text" placeholder="Buscar Empresa..." id="search" [(ngModel)]="newCompany.companyName" autofocus>
            <i class='bx bx-search-alt'></i>
            <div class="search_bx2">
              <!-- <a href="#">
                <img src="../assets/img/driver.jpg" alt="driver" class="driver">
                <div class="content2">
                  <h6>Profesión</h6>
                  <p>Driver</p>
                </div>
              </a> -->
            </div>
          </div>
        </li>

          <h5 id="logOut" (click)="goToSignIn()">Log Out</h5>

      </ul>
    </div>
    <br><br><br>
    <h3 class="text-dark p-3">Admin Dashboard</h3>
    <div class="options">
      <button id="modal" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Add a Company</button>&nbsp;&nbsp;&nbsp;
      <button (click)="deleteAllCompanies()" id="modal" type="button" class="btn btn-danger">Delete All Companies</button>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Company Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                <label for="companyName" class="col-form-label">Enter company name:</label>
                <input type="text" class="form-control" placeholder="Name" name="companyName" [(ngModel)]="newCompany.companyName">
              </div>
              <div class="mb-3">
                <label for="city" class="col-form-label">Enter the city</label>
                <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="newCompany.city">
              </div>
              <div class="mb-3">
                <label for="wages" class="col-form-label">Enter the wages</label>
                <select class="form-control" name="wages" id="wages" [(ngModel)]="newCompany.wages">
                  <option value="$1 a $1,5">$1 a $1,5</option>
                  <option value="$1,5 a $2">1,5 a $2</option>
                  <option value="$2 a $2,5">$2 a $2,5</option>
                  <option value="$2,5 a $3">$2,5 a $3</option>
                  <option value="$3 a $3,5">$3 a $3,5</option>
                  <option value="$3,5 a $4">$3,5 a $4</option>
                  <option value="$4,5 a $5,5">$4,5 a $5,5</option>
                  <option value="$5,5 a $6">$5,5 a $6</option>
                  <option value="$6 a $8">$6 a $8</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="requirement" class="col-form-label">Requirements:</label>
                <textarea class="form-control" placeholder="Requirement" name="requirement" id="requirement" [(ngModel)]="newCompany.requirement"></textarea>
              </div>
              <div class="mb-3">
                <label for="typeOfEmployment" class="col-form-label">Type Of Employment:</label>
                <select class="form-control" name="typeOfEmployment" id="typeOfEmployment" [(ngModel)]="newCompany.typeOfEmployment">
                  <option value="Full time">Full time</option>
                  <option value="Part time">Part time</option>
                  <option value="Seasonal">Seasonal</option>
                  <option value="Temporary">Temporary</option>
                  <option value="Intership">Intership</option>
                  <option value="At will">At will</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="profession" class="col-form-label">Profession:</label>
                <select class="form-control" name="profession" id="profession" [(ngModel)]="newCompany.profession">
                  <option value="Driver">Driver</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Engineer">Engineer</option>
                  <option value="Journalist">Journalist</option>
                  <option value="Pilot">Pilot</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="postedDate" class="col-form-label">Post Date:</label>
                <input class="form-control" type="date" placeholder="Date" name="postedDate" id="postedDate" [(ngModel)]="newCompany.postedDate">
              </div>
              <div class="mb-3">
                <label for="companyImg">Upload your Company Image:</label>
                <input class="form-control" type="file" name="companyImg" (change)="handleFileInput($event)">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button (click)="newCompanyForm()" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>

    <div class="principal">
        <div class="container" *ngFor="let company of companies; let i = index">
          <img [src]="company.companyImgUrl" alt="company" class="image">
          <div class="overlay">
            <h6>{{i+1}}</h6>
            <h6>{{ company.companyName }}</h6>
            <h6>{{ company.city }}</h6>
            <h6>{{ company.wages }}</h6>
            <h6>{{ company.requirement }}</h6>
            <h6>{{ company.typeOfEmployment }}</h6>
            <h6>{{ company.postedDate }}</h6>
            <button (click)="onUpdate(i)" id="modal" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat" class="btn btn-primary">Update</button>&nbsp;&nbsp;
            <button (click)="deleteCompany(i)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>