    <!-- Side-Nav -->
    <div class="nav">
      <h2 id="logo">Agencia de Empleo</h2>
      <ul>
        <li>
          <i class='bx bx-search-alt'></i>
          <span class="mx-2">Buscar Ofertas</span>
        </li>
        <li>
          <i class="bx bx-user-check"></i>
          <span class="mx-2">Profile</span>
        </li>
        <li>
          <i class="bx bx-conversation"></i>
          <span class="mx-2">Contact</span>
        </li>
        <li>
          <div class="search">
            <input type="text" placeholder="Buscar Profesión..." id="search" [(ngModel)]="searchBarFilter.value" autofocus>
            <i class="fas fa-search" id="search_icon"></i>
            <div class="search_bx2">
              <!-- <a href="#">
                <img src="../assets/img/driver.jpg" alt="driver" class="driver">
                <div class="content2">
                  <h6>Profesión</h6>
                  <p>Driver</p>
                </div>
              </a> -->
            </div>
          </div>
        </li>
          <h5 id="logOut" (click)="goToSignIn()">Log Out</h5>
      </ul>
    </div>
    <br><br><br>

    <h3 class="text-dark p-3">Ofetas Laborales</h3>

    <div class="principal">
      <div id="U" class="container">
        <img (click)="goToDriver()" src="../assets/img/driver.jpg" alt="driver" class="image">
        <div class="overlay">
          <h6>Driver</h6>
        </div>
      </div>
      <div id="U" class="container">
        <img (click)="goToDoctor()" src="../assets/img/doctor.jpg" alt="doctor" class="image" id="doctor">
        <div class="overlay">
          <h6>Doctor</h6>
        </div>
      </div>
      <div id="U" class="container">
        <img (click)="goToEngineer()" src="../assets/img/engineer.jpg" alt="engineer" class="image" id="engineer">
        <div class="overlay">
          <h6>Engineer</h6>
        </div>
      </div>
      <div id="U" class="container">
        <img (click)="goToJournalist()" src="../assets/img/journalist.jpg" alt="journalist" class="image" id="journalist">
        <div class="overlay">
          <h6>Journalist</h6>
        </div>
      </div>
      <div id="U" class="container">
        <a href="/teacher"><img src="../assets/img/teacher.jpg" alt="teacher" class="image"></a>
        <div class="overlay">
          <h6>Teacher</h6>
        </div>
      </div>
      <div id="U" class="container">
        <a href="/pilot"><img src="https://imageio.forbes.com/specials-images/imageserve/637b9c82c951b6abb2817eec/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds" alt="driver" class="image"></a>
        <div class="overlay">
          <h6>Pilot</h6>
        </div>
      </div>
    </div>